*.mk
*.xml
*.obj
dist/default/production/PIC16F877A.X.production.map
*.lst
dist/default/production/PIC16F877A.X.production.hxl
*.sdb
dist/default/production/PIC16F877A.X.production.sym
*.rlf
build/default/production/pgm1.p1.d
*.p1
build/default/production/pgm1.pre
*.elf
dist/default/production/PIC16F877A.X.production.cmf
*.mum
Makefile
*.properties
nbproject/Package-default.bash